body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
}
#output {
    width: fit-content;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid black;
}
li, button, #output {
    margin: 5px;
}